@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Poppins|Titillium+Web|Quicksand');
* {margin: 0}
$light: #F6F7EB;
$red: #E94F37;
$sky: #3F88C5;
$dark: #233956;
$darker: #1C2D44;
$green: #44BBA4;

$open: 'Open Sans', sans-serif;
$tit: 'Titillium Web', sans-serif;
$opencon: 'Open Sans Condensed', sans-serif;
$pop: 'Poppins', sans-serif;
$quick: 'Quicksand', sans-serif;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%center {
    @include center
}

body{
    height: 100vh;
}

#app {
    height: 100vh;
    width: 100%;
    position: fixed;
    font-family: $open;
    color: white;

    #nav {
        background: $dark;
        display: flex;
        height: 90px;
        position: fixed;
        top: 0;
        width: 100%;

        .nav-btn {
            display: none;
        }

        .close-btn {
            display: none;
        }

        .container {
            @extend %center;
            justify-content: space-between;
            width: 100%;
        }

        .logo {
            height: 90px;
            padding: 10px;
            box-sizing: border-box;

            img {
                object-fit: cover;
                height: 70px;
            }
        }

        .user {
            @extend %center;
            img {
                height: 40px;
                border-radius: 1000px;
            }
        }


        .playlists {
            width: 50vw;

            .scroll-area {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                width: 100%;
            }

            .playlist {
                position: relative;
                height: 70px;
                width: 70px;
                border-radius: 1000px;
                margin: 10px;
                background: rgb(0, 0, 0);
                @extend %center;
                cursor: pointer;
                flex: 0 0 auto;

                &.router-link-active img {
                    opacity: 0.4;
                }

                img {
                    object-fit: cover;
                    height: 70px;
                    width: 70px;
                    position: absolute;
                    border-radius: 1000px;
                    opacity: 1;
                    transition: all 0.2s ease-in-out 0s;
                }

                &:hover img {
                    opacity: 0.4;
                }

                &:hover h2 {
                    opacity: 1;
                }

                h2 {
                    color: white;
                    opacity: 0;
                    position: absolute;
                    font-family: $opencon;
                    text-align: center;
                }

            }
        }

        .search-bar {
            input {
                background: $light;
                padding: 0.6rem;
                box-sizing: border-box;
                border: none;
                border-radius: 8px;
                outline: 0;
            }
        }
    }

    >main {
        padding: 90px 0;
        height: calc(100% - 180px);
        background: $darker;

        >main {
            height: 100%;
            overflow-y: auto;
        }

        .info-header {
            @extend %center;
            height: 200px;

            img {
                height: 150px;
                width: 150px;
                object-fit: cover;
                border-radius: 100px;
            }

            .info {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    font-size: 3.4rem;
                }
            }
        }
        >.user {

            .playlists {
                display: flex;
                flex-wrap: wrap;

                .playlist {
                    position: relative;
                    height: 120px;
                    width: 120px;
                    border-radius: 1000px;
                    margin: 10px;
                    background: rgb(0, 0, 0);
                    @extend %center;
                    cursor: pointer;
                    flex: 0 0 auto;

                    img {
                        object-fit: cover;
                        height: 120px;
                        width: 120px;
                        position: absolute;
                        border-radius: 1000px;
                        opacity: 0.7;
                        transition: all 0.2s ease-in-out 0s;

                        &:hover {
                            opacity: 0.1;
                        }
                    }

                    h2 {
                        color: white;
                        position: absolute;
                        font-family: $opencon;
                        text-align: center;
                        z-index: 10;
                        pointer-events: none;
                    }
                }
            }
        
        }
        >.playlist {
            height: 100%;
            overflow-y: auto;
            padding: 1rem;
            box-sizing: border-box;
        }

        .song {
            display: grid;
            background: $dark;
            height: 40px;
            width: 100%;
            margin: 2px 0;
            grid-template-columns: .3fr 2fr 1fr 1fr .3fr;

            >* {
                display: flex;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
            }

            .play {
                margin-left: 6px;
                color: $green;
            }

            .artists {
                overflow: hidden;
                width: 100%;
                position: relative;

                .inner {
                    position: absolute;
                    display: flex;
                    flex-wrap: no-wrap;
                    white-space: nowrap;
                    transform: translateX(0);
                    transition: 2s;
                    &:hover {
                        transform: translateX(-100%);
                    }
                }
            }
        }

        .songs {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 0 5rem;
            box-sizing: border-box;
        }

        >.artist {
            h1 {
                text-align: center;
                margin-top: 2rem;
            }
        }

        >.search {
            >section {
                display: flex;
                flex-wrap: nowrap;
                
                >div {
                    position: relative;
                    height: 120px;
                    width: 120px;
                    border-radius: 1000px;
                    margin: 10px;
                    background: rgb(0, 0, 0);
                    @extend %center;
                    cursor: pointer;
                    flex: 0 0 auto;

                    img {
                        object-fit: cover;
                        height: 120px;
                        width: 120px;
                        position: absolute;
                        border-radius: 1000px;
                        opacity: 0.7;
                        transition: all 0.2s ease-in-out 0s;

                        &:hover {
                            opacity: 0.1;
                        }
                    }

                    h2 {
                        color: white;
                        position: absolute;
                        font-family: $opencon;
                        text-align: center;
                        z-index: 10;
                        pointer-events: none;
                    }
                }
            }
        }

        hr {
            border: none;
            background: white;
            height: 2px;
            width: 30vw;
            margin: auto;
        }
        main>section {
            display: flex;
            flex-wrap: wrap;
            padding: 0 2rem;
            @extend %center; 

            >div {
                position: relative;
                height: 120px;
                width: 120px;
                border-radius: 1000px;
                margin: 10px;
                background: rgb(0, 0, 0);
                @extend %center;
                cursor: pointer;
                flex: 0 0 auto;

                img {
                    object-fit: cover;
                    height: 120px;
                    width: 120px;
                    position: absolute;
                    border-radius: 1000px;
                    opacity: 0.7;
                    transition: all 0.2s ease-in-out 0s;

                    &:hover {
                        opacity: 0.1;
                    }
                }

                h2 {
                    color: white;
                    position: absolute;
                    font-family: $opencon;
                    text-align: center;
                    z-index: 10;
                    pointer-events: none;
                }
            }
        }

    }

    #player {
        width: 100%;
        background: $dark;
        height: 90px;
        bottom: 0;
        position: fixed;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.1fr 0.1fr;

        #player-controls {
            flex-direction: column;
            @extend %center;
            color: $green;
            width: 100%;
            height: 90px;

            .player-controls {
                .disabled {
                    color: rgb(97, 111, 122)
                }
                .repeat {
                    position: relative;

                    .off {
                        color: rgb(97, 111, 122)
                    }
                    span {
                        pointer-events: none;
                        font-style: normal;
                        font-family: $open;
                        position: absolute;
                        width: 100%;
                        color: white;
                        right: 2px;
                        left: 0;
                        top: 0;
                        font-size: .8rem;
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }

            .playback-slider {
                width: 90%;
            }
        }
        
        .playing {
            display: flex;

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            img {
                height: 90px;
                object-fit: cover;
            }
        }

        .devices {
            position: relative;

            nav {
                position: absolute;
                background: $dark;
                height: 100%;
                width: 150px;
                padding: 1rem;
                box-sizing: border-box;
                bottom: 100px;

                .device {
                    margin: .5rem;
                    background: $sky;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #app {
        #nav {
            height: 60px;

            .nav-btn {
                display: block;
                position: absolute;
                right: 20px;
                top: 13px;
            }
    
            .container {
                position: fixed;
                top: -50vh;
                height: 50vh;
                width: 100%;
                background: $dark;
                z-index: 999990;
                flex-direction: column;
                transition: top .5s ease-in-out;

                &.active {
                    top: 0;
                }

                .playlists {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                .user {
                    margin-bottom: 1rem;
                }

                .close-btn {
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                    display: block;
                }
            }
    
            .logo {
                height: 60px;
    
                img {
                    height: 40px;
                }
            }
    
            .user {
                @include center;
                img {
                    height: 40px;
                    border-radius: 1000px;
                }
            }
        }
        >main {
            padding: 90px 0;
            height: calc(100% - 180px);
            background: $darker;
    
            >main {
                height: 100%;
                overflow-y: auto;
            }
    
            .info-header {
                @include center;
                height: 200px;
    
                img {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                    border-radius: 100px;
                }
    
                .info {
                    margin-left: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .name {
                        font-size: 3.4rem;
                    }
                }
            }
            >.user {
    
                .playlists {
                    display: flex;
                    flex-wrap: wrap;
    
                    .playlist {
                        position: relative;
                        height: 120px;
                        width: 120px;
                        border-radius: 1000px;
                        margin: 10px;
                        background: rgb(0, 0, 0);
                        @include center;
                        cursor: pointer;
                        flex: 0 0 auto;
    
                        img {
                            object-fit: cover;
                            height: 120px;
                            width: 120px;
                            position: absolute;
                            border-radius: 1000px;
                            opacity: 0.7;
                            transition: all 0.2s ease-in-out 0s;
    
                            &:hover {
                                opacity: 0.1;
                            }
                        }
    
                        h2 {
                            color: white;
                            position: absolute;
                            font-family: $opencon;
                            text-align: center;
                            z-index: 10;
                            pointer-events: none;
                        }
                    }
                }
            
            }
            >.playlist {
                height: 100%;
                overflow-y: auto;
                padding: 1rem;
                box-sizing: border-box;
            }
    
            .song {
                display: grid;
                background: $dark;
                height: 40px;
                width: 100%;
                margin: 2px 0;
                grid-template-columns: 2fr 1fr;
                font-size: 80%;

                h2 {
                    margin-left: 10px;
                }
    
                >* {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                }
    
                .play {
                    display: none;
                }

                .album {
                    display: none;
                }

                h3 {
                    display: none;
                }
    
                .artists {
                    overflow: hidden;
                    width: 100%;
                    position: relative;
    
                    .inner {
                        position: absolute;
                        display: flex;
                        flex-wrap: no-wrap;
                        white-space: nowrap;
                        transform: translateX(0);
                        transition: 2s;
                        &:hover {
                            transform: translateX(-100%);
                        }
                    }
                }
            }
    
            .songs {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 0 .5rem;
                box-sizing: border-box;
                
            }
    
            >.artist {
                h1 {
                    text-align: center;
                    margin-top: 2rem;
                }
            }
    
            >.search {
                >section {
                    display: flex;
                    flex-wrap: nowrap;
                    
                    >div {
                        position: relative;
                        height: 120px;
                        width: 120px;
                        border-radius: 1000px;
                        margin: 10px;
                        background: rgb(0, 0, 0);
                        @include center;
                        cursor: pointer;
                        flex: 0 0 auto;
    
                        img {
                            object-fit: cover;
                            height: 120px;
                            width: 120px;
                            position: absolute;
                            border-radius: 1000px;
                            opacity: 0.7;
                            transition: all 0.2s ease-in-out 0s;
    
                            &:hover {
                                opacity: 0.1;
                            }
                        }
    
                        h2 {
                            color: white;
                            position: absolute;
                            font-family: $opencon;
                            text-align: center;
                            z-index: 10;
                            pointer-events: none;
                        }
                    }
                }
            }
    
            hr {
                border: none;
                background: white;
                height: 2px;
                width: 30vw;
                margin: auto;
            }
            main>section {
                display: flex;
                flex-wrap: wrap;
                padding: 0 2rem;
                @include center; 
    
                >div {
                    position: relative;
                    height: 120px;
                    width: 120px;
                    border-radius: 1000px;
                    margin: 10px;
                    background: rgb(0, 0, 0);
                    @include center;
                    cursor: pointer;
                    flex: 0 0 auto;
    
                    img {
                        object-fit: cover;
                        height: 120px;
                        width: 120px;
                        position: absolute;
                        border-radius: 1000px;
                        opacity: 0.7;
                        transition: all 0.2s ease-in-out 0s;
    
                        &:hover {
                            opacity: 0.1;
                        }
                    }
    
                    h2 {
                        color: white;
                        position: absolute;
                        font-family: $opencon;
                        text-align: center;
                        z-index: 10;
                        pointer-events: none;
                    }
                }
            }
    
        }
    }
}